* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}
.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  line-height: 24px;
}
.container__left {
  grid-area: 1/1/1/4;
  display: flex;
  flex-direction: column;
}
.avatar {
  background: #3b3b3b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;

}
.avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.avatar__name {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}
.infomation {
  background: #4b4b4b;
  color: white;
  padding: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.infomation__contact img {
  height: 20px;
  width: auto;
}
.title {
  font-family: "Roboto", sans-serif;
  line-height: 3rem;
  font-weight: bold;
}
.infomation__contact > div,
.title {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.infomation__contact > div > p,.infomation a {
  color: white;
  padding-left: 1rem;
  font-style: italic;
}

.title p {
  font-size: 16px;
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
}

/* ////////////// */
.infomation__skill>p{
  padding-top: 10px;
}
.skill__bar {
  background: #808080;
}
.bar {
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}
.skill__bar--logical {
  width: 75%;
  background-color: #d3d3d3;
}
.skill__bar--debugs {
  width: 55%;
  background-color: #d3d3d3;
}
.skill__bar--speaking {
  width: 40%;
  background-color: #d3d3d3;
}
.skill__bar--typing {
  width: 50%;
  background-color: #d3d3d3;
}
.skill__bar--pressure {
  width: 70%;
  background-color: #d3d3d3;
}
.skill__bar--reading {
  width: 50%;
  background-color: #d3d3d3;
}
.skill__bar--searching {
  width: 60%;
  background-color: #d3d3d3;
}
/* //////////////// */
.objective > p:nth-child(2) {
  text-indent: 2rem;
}
/* layout right */
.container__right {
  grid-area: 1/4/1/11;
  background: #d4daca;
  padding: 2rem;
}
.container__right img {
  height: 30px;
  width: auto;
}
.right-content {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-top: 10px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}



@media screen and (max-width: 992px){
  .avatar__name {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    padding: 1rem;
  }
  .avatar img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }
  .container__left {

    display: flex;
  }
  
}

@media screen and (max-width: 768px) {
  .container {
    line-height: 24px;
    display: block;
  }
  .avatar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}