* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  line-height: 24px;
}
.left {
  grid-area: 1/1/1/4;
}
.avatar {
  background: #383737;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.avatar > p:nth-child(2) {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.infomation  {
  background: #e9e8e8;
  padding: 2rem;
  text-align: justify;
}
.contact img {
  height: 20px;
  width: auto;
}
.title {
  font-family: 'Roboto', sans-serif;
  line-height: 3rem;
  font-weight: bold;
 
}
.contact > div,
.title {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.contact > div > p {
  font-style: italic;
}
.contact p,
.title p {
  font-size: 16px;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
}
.objective>p:nth-child(2){
  text-indent: 2rem;
}
/* layout right */
.right {
  grid-area: 1/4/1/11;
  background: white;
  padding: 2rem;
}
.right img {
  height: 30px;
  width: auto;
}
.right-content {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
a{
  text-decoration: none;
  color: blue;
}