* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  line-height: 30px;
}

/* layout left */
.left {
  color: white;
  grid-area: 1/1/1/4;
}
.left-top {
  background: #1f1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.avatar img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.left-bottom {
  background: #3a3a3a;
  padding: 2rem;
  text-align: justify;
}
.left-bottom img {
  height: 20px;
  width: auto;
}
.objective,.skill{

}
.title{
  line-height: 3rem;
  font-size: 1.1rem;
}
.info,
.title {
  display: flex;
  align-items: center;
}
.info p {
  font-style: italic;
}

.name {
  font-size:1.5rem;

}
.info p,
.title p {
  padding-left: 1rem;
}

/* layout right */
.right {
  grid-area: 1/4/1/11;
  background: white;
  padding: 2rem;
}
.right img {
  height: 30px;
  width: auto;
}
.right-content {
  display: flex;
  justify-content: space-between;
  font-weight:bold;
}
hr{
  margin-top: 1rem;
  margin-bottom:1rem;
}
a{}